#output-area {
  display: none;
}

/*body {
  background: url('../img/Roman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: skia;
  font-size: 55px;
  text-align: center;
  color: #563e2b;
}

h1 {
  font-family: skia;
  font-size: 75px;
  text-align: center;
  font-weight: bolder;
  color: #563e2b;
}

.container {
  border-style: solid;
}*/
